#top-inner{
  padding: 10px 5px;
  text-decoration: none;
  font-size: 12px;
}

#top{
  padding: 10px;
  background-color: #000;
  text-align: end;
  text-decoration: none;
}

a{
  color: #fff;
  text-decoration: none;
}