<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>float.html</title>
  <style>
    img{
      width: 150px;
      height: 150px;
      float: left;
    }
    .left{
      float: left;
      width: 100px;
      height: 100px;
      background-color: aliceblue;
    }
    .right{
      float: right;
      background-color: orange;
    }
    .clear{
      clear: both;
    }
  </style>
</head>
<body>
  <img src="../../images/dog 04.jpg" alt="강아지" >
  <p>
    미국 스포츠전문채널 ESPN의 기자 잭 로우는 28일(한국시간) LA 레이커스의 영입설에 대해 보도했다.

보도에 따르면 "레이커스 팬들은 조만간 제레미 그랜트의 유니폼을 주문해야 할 수도 있다"라고 말했다.

레이커스는 이번 오프시즌, 실망의 연속이다. 숱한 선수들과 루머가 있었으나, 정작 영입한 선수는 한 명도 없는 상황이다. 다빈 햄 감독을 경질하고 JJ 레딕 감독을 선임한 것이 유일한 변화라고 해도 무방한 수준이다. FA를 선언한 르브론 제임스와 재계약에 성공한 것이 유일하게 긍정적인 부분이다.

냉정히 레이커스의 전력이 2023-2024시즌과 비슷하게 유지된다면, 우승에 대한 경쟁력은 없다고 해도 과언이 아니다. 레이커스는 2023-2024시즌 47승 35패를 기록하며 서부 컨퍼런스 8위에 위치했고, 플레이오프 1라운드에서 덴버 너겟츠를 만나 1승 4패로 무기력하게 패배하며 탈락했다.

제임스와 앤서니 데이비스라는 강력한 원투펀치가 있으나, 둘을 받쳐줄 롤 플레이어들의 활약이 아쉬운 것이 원인이다. 오스틴 리브스를 제외하면 두 선수에게 힘을 보태주는 선수가 없다.

그런 사실은 레이커스 수뇌부도 알고 있다. 레이커스 수뇌부는 꾸준히 전력 보강을 노렸었다. 잭 라빈, 디존테 머레이 등 많은 선수들과 트레이드 루머가 있었다. 결국 영입에 실패했다. 그 이유는 레이커스는 마땅한 트레이드 카드가 없기 때문이다.
    </p>
    <hr / >
    <div class="left">왼쪽에 뜨는 요소</div>
    <div class="right">오른쪽에 뜨는 요소</div>
    <div class="clear">float 해제</div>

</body>
</html>